    </div><!-- inner -->
    <div class='footer_separator'> </div>
    <div class='footer navbar navbar-inverse navbar-bottom'>
        <div class='container-fluid'>
        <div class='category col-md-3'>
            <h2 id='cube_drone'>Last 5</h2>
            <ul class='list-group'>
                {{#each-limit reverse_categories.[Cube Drone] 5}}
                    <a class='post list-group-item' href="{{this.id}}.html">{{this.title}}</a>
                {{/each-limit}}
            </ul>
        </div>
        <div class='footer_content col-md-3'>
            <h2>Advertising</h2>
                <!-- Advertising Content -->
                <a href="http://upup.fm" onclick="trackOutboundLink('http://upup.fm');" target="_top">
                    <img src="http://www.upup.fm/images/logo.png" width="200" height="200" alt="" border="0"/>
                </a>
            </div>
        <div class='col-md-6 copyright'>
            <p>&copy; <a href='http://curtis.lassam.net'>Curtis Lassam</a> 2014</p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                </a>
            </p>
            <p>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Cube Drone</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cube-drone.com" property="cc:attributionName" rel="cc:attributionURL">Curtis Lassam</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
            <p>This site built using the <a href="http://curtis.lassam.net/arglebargle">Arglebargle Website Engine</a></p>
        </div>
        </div> 
        <div style='clear:both;'></div>
    </div>
    </div><!-- content -->

{{> js}}

<script type="text/javascript">
    $(function () {$('#index_tabs a:first').tab('show')})
</script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41279849-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    /**
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    */
    var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
                function () { document.location = url; }
            });
    };
</script>

</body>
</html>
