<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    {{> css }}
    <title>{{config.title}}</title>

    <!-- Typekit -->
    <script src="http://use.typekit.net/ehr0vuf.js"></script>
    <script>try{Typekit.load();}catch(e){console.log(e);}</script>
</head>
<body>
    <div class='content'>
    <nav class='nav'>
        <ul>
            <li><a href="http://curtis.lassam.net"><i class='fa fa-user'></i> Curtis</a></li>
            <li><a href="http://twitter.com/classam"><i class='fa fa-twitter'></i> Twitter</a></li>
            <li><a href="https://github.com/classam/"><i class='fa fa-github'></i> Github</a></li>
            <li><a href="rss.xml"><i class='fa fa-rss'></i> RSS</a></li>
        </ul>
    </nav>
    <h1><a href='index.html'>{{config.title}}</a></h1>
    <div class='inner'>
