{{>partials/header}}

<div class='meet_the_cast post'>
    <h2>Meet the Team</h2>
    <img width='1000' src='http://curtis.lassam.net/comics/cube_drone/team.gif'>

    <div class='row'>
    <section class='col-md-4'>
        {{>partials/about_lain}}
    </section>
    <section class='col-md-4'>
        {{>partials/about_cubedrone}}
    </section>
    <section class='col-md-4'>
        {{>partials/about_walt}}
    </section>
    </div>
    <div class='row'>
    <section class='col-md-4'>
        {{>partials/about_warbeard}}
    </section>
    <section class='col-md-4'>
        {{>partials/about_miloslav}}
    </section>
    <section class='col-md-4'>
        {{>partials/about_sparky}}
    </section>
    </div>
    <div class='row'>
    <section class='col-md-8'>
        {{>partials/about}}
    </section>
    </div>

</div> 

{{>partials/footer}}
