@import "susy";

body{
    background-color: #333;
}

.content{
    @include container(1000px);
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

h1 a{
    color: #333;
    text-decoration: none;
}
