

.title_and_date{
    position: absolute;
    top: 220px;
    width: 320px;
    background: #1c262b;
    color: white;
    padding-left: 10px;
    
    h2{

    }
    h3{
        margin-top: 1px;
        a{
            color: white;
        }
    }
}
.cover{
    width:100%;
    height: 100%;
    position: absolute;
}

.preview{
    overflow: hidden;
    display: block; 
    height: 350px;
    /*border-radius: 250px;*/
    border: 2px solid black;

}

h1,h2,h3,h4,h5,h6{
    font-family: "museo-slab", Georgia, serif;
}

.full_index {
    margin-top: 50px;
}

.tweets {
    margin-top: 50px;
    height: 100%;
}

.footer *{
    color: white;
}

.copyright{
    margin-top: 100px;
    a{ color: #DDD; }
    a:hover{ color: #AAA; } 
}

.fpnl{
    background-color: #FEFEFE;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.post_content{
    margin-left: 30px;
    p, ul{
        max-width: 1000px;
    }
    li{
        margin-bottom: 5px;
    }
    .irc{
        font-family: monospace;
        list-style-type: none;
    }
}
